pyspark==3.5.1
jupyter==1.1.1
bayesian-optimization==1.5.1
pycodestyle==2.12.1
pycodestyle_magic==0.5
flake8==7.1.1
pandas==2.2.2
torch==2.4.1
matplotlib==3.9.2
seaborn==0.13.2
scipy==1.14.1
pyarrow==17.0.0
plotly==5.18.0
